name: Scorecard

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'  # Weekly

permissions: read-all

jobs:
  analysis:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608  # v4

      - uses: ossf/scorecard-action@v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - uses: github/codeql-action/upload-sarif@df5a14dc280948403b9c4155875c3f30da80182c  # v4
        with:
          sarif_file: results.sarif
